*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  width: 100%;
  min-height: 100vh;
  background: #000000;
}
header{
  top: 0;
  position: sticky;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #A9A9A9;
}
/*My name on the nav bar*/ 
.name{
  font-size: 2em;
  color: #ffffff;
  pointer-events: none;
}
/*Nav bar settings*/ 
.navigation a{
  color: #ffffff;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
  margin: auto;
  font-weight: 600;
  display: block;
}
.navigation a:hover, 
.navigation a.active{
  background-color: #ffffff;
  color: #000000;
}
.navigation li{
  float: left;
  list-style: none;
}
/*My name as the title, and sizing for it*/ 
.title{
  color: #ffffff;
}
.title h1{
  font-size: 90px;
  height: 90vh;
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*About me section*/
.about{
  color: #ffffff;
}
.about h1{
  font-size: 90px;
  height: 90vh;
  max-width: 700px;
  font-size: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about p{
  color: #ffffff;
}
.about p{
  font-size: 20px;
  margin: 10px 0 30px;
  line-height: 20px;
}
/*Educational information*/
.education{
  color: #ffffff;
}
.education h1{
  font-size: 90px;
  height: 90vh;
  max-width: 700px;
  font-size: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*My experiences with in industy*/ 
.experience{
  color: #ffffff;
}
.experience h1{
  font-size: 90px;
  height: 90vh;
  max-width: 700px;
  font-size: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Contact information*/
.contact{
  color: #ffffff;
}
.contact h1{
  font-size: 90px;
  height: 90vh;
  max-width: 700px;
  font-size: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
